{% extends "base.html" %}
{% block content %}
<div class="main-container">
            <section class="cover fullscreen image-slider slider-all-controls controls-inside parallax">
                <ul class="slides">
                    <li class="overlay image-bg">
                        <div class="background-image-holder">
                            <img alt="image" class="background-image" src="https://cdn.wisekey.com/uploads/images/IoT-background.jpg" />
                        </div>
                        <div class="container v-align-transform">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
                                    <h2 class="mb8">Spectrum7 Technologies enables digital transformation of your business strategies through Internet of Things.</h2>
                                    <p class="lead mb48">
                                        Perfect to let our IOT devices live stream your time series data and analyze your business

                                    </p>
                                    
                                </div>
                            </div>
                            <!--end of row-->
                        </div>
                        <!--end of container-->
                    </li>
                </ul>
            </section>
            <section class="pb64 pb-xs-40">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="feature feature-2 filled text-center">
                                <div class="text-center">
                                    <i class="ti-signal icon-sm"></i>
                                    <h5 class="uppercase">IOT Device</h5>
                                </div>
                                <p>
                                    Our IOT devices are powered by fast processors and micro controllers that makes the device  simple and deploy able anywhere, they also have internal memories to store minimal data as backup.Created by specialist hardware designers for efficient and continuous data streaming.
                                </p>
                            </div>
                            <!--end of feature-->
                        </div>
                        <div class="col-sm-4">
                            <div class="feature feature-2 filled text-center">
                                <div class="text-center">
                                    <i class="ti-shift-right-alt icon-sm"></i>
                                    <h5 class="uppercase">IOT Platform</h5>
                                </div>
                                <p>
                                    Our IoT platforms bundle the infrastructure components and  fall into three main categories: low-level device control and operations such as communications, device monitoring and management, security, firmware updates; IoT data acquisition, transformation and management and IoT application development, including event-driven logic, application programming, visualization, analytics and adapters to connect to enterprise systems
                                </p>
                            </div>
                            <!--end of feature-->
                        </div>
                        <div class="col-sm-4">
                            <div class="feature feature-2 filled text-center">
                                <div class="text-center">
                                    <i class="ti-stats-up icon-sm"></i>
                                    <h5 class="uppercase">IOT Analytics</h5>
                                </div>
                                <p>
                                    Our IOT business models will understand the data collected and to understand your customer behavior, to deliver services, to improve products, and to identify and intercept business moments. Our analysis algorithms based on big data analysis will help your organization to exploit new insights and react more rapidly to insights.
                                </p>
                            </div>
                            <!--end of feature-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="image-square left bg-secondary pb-sm-64">
                <div class="col-md-6 image">
                    <div class="background-image-holder">
                        <img alt="image" class="background-image" src="https://static.electronicsweekly.com/wp-content/uploads/2016/01/04121443/Atilia.png" />
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-1 content">
                    <h3>We build Complex IOT solutions which is scalable, cost effective and performance driven.</h3>
                    <p class="mb0">
                        The innovative IOT platform connects machines which are in different locations and bring them online and helps organizations to monitor their KPIs. It helps them to capture, track and analyze data from these machines in real time and thereby providing actionable alerts to the business . It helps to dramatically increase the operational efficiency and the competitive business advantage.With its cutting edge hardware and software platform, Spectrum7 provides niche solutions in the IOT requirements of organizations.
                    </p>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="row mb64 mb-xs-24">
                        <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
                            <h3>Built with Cutting edge technology and designed to connect your disconnected machines.</h3>
                            <p class="lead mb0">
                                Our IOT platform is a remarkably complete offering with a plethora of design elements. Whether connecting an asset, Machine, Smart homes, smart cities  - Spectrum7's unique and powerful range of solutions has you covered.
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="row">
                        <div class="col-md-4 col-md-offset-2 col-sm-5 col-sm-offset-1 mb-xs-24">
                            <h1 class="large">100+</h1>
                            <p>
                                Machines connected so far
                            </p>
                        </div>
                        <div class="col-md-4 col-sm-5 mb-xs-24">
                            <h1 class="large">Trusted IOT</h1>
                            <p>
                                Our IOT devices are trust worthy and capable to handle complex 
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="image-square right bg-secondary pb-sm-64">
                <div class="col-md-6 image">
                    <div class="background-image-holder">
                        <img alt="image" class="background-image" src="https://www.twilio.com/blog/wp-content/uploads/2016/02/Triggering-SMS-And-Voice-Notifications-For-IoT-Devices-1024x576.jpg" />
                    </div>
                </div>
                <div class="col-md-6 content">
                    <h3>Start looking at Connecting your devices the Spectrum7 way.</h3>
                    <p class="mb0">
                        Our IOT platform is designed to simplify your IOT development and makes you realize the full potential of the IOT 
                    </p>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="row mb64 mb-xs-24">
                        <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
                            <h3>Spectrum7 Technologies Builds IOT devices that your Business will Love</h3>
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="row">
                        <div class="col-sm-4 text-center">
                            <div class="feature boxed cast-shadow-light">
                                
                                <h4>"Smart and Incredible IOT"</h4>
                                <p>
                                     Learns Usage patterns and reports the trend
                                     Connected to cloud platform
                                     Remote accessibility and know the status from anywhere
                                     Self Diagnostic monitoring system
                                     One touch Service request
                                </p>
                                
                            </div>
                        </div>
                        <div class="col-sm-4 text-center">
                            <div class="feature boxed cast-shadow-light">
                               
                                <h4>"IOT Communication made versatile, easy "</h4>
                                <p>
                                     Communication channel by GPRS, GSM, 
                                     Low power Wireless or RF communication
                                     Switching to available mode
                                     Data validation in order not to miss any data
                                </p>
                                
                            </div>
                        </div>
                        <div class="col-sm-4 text-center">
                            <div class="feature boxed cast-shadow-light">
                               
                                <h4>"IOT Analytics"</h4>
                                <p>
                                    Storage system for Big data 
                                    Proven Mathematical model for data analytics
                                    Clear trend analysis for business insights
                                    Data handling made easy
                                    Predictive analysis 
                                </p>
                               
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            
    <footer class="footer-2 bg-dark">
                    <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
                            <a href="/">
                                <img alt="Logo" class="fade-on-hover" src="{{ url_for('static', filename='img/agency-logo-light.png')}}" style="height: 120px;" />
                            </a>
                            <h5 class="fade-1-4">Handcrafted by  <span style="font-family: 'Titillium Web', sans-serif;">SPECTRUM 7 </span> &copy; 2015
                                </h5>
                                <ul class="list-inline social-list mb0">
                                <li>
                                    <a href="https://www.linkedin.com/company-beta/13239293/">
                                        <i class="ti-linkedin"></i>
                                    </a>
                                </li>
                                </ul>
                            </div>
                    </div>

                    </div>
                    <!--end of container-->
                </footer>
        </div>
{% endblock %}